xgboost
shap
umap-learn
hdbscan
pandas
scikit-learn
matplotlib
seaborn
jupyterlab
lightgbm
optuna
sentence-transformers
faiss-cpu
chromadb
econml
statsmodels
streamlit
prophet
neuralprophet
autogluon
flaml 