# Server
PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth
DB_SSLMODE=disable

# JWT
JWT_SECRET_KEY=your-secret-key-here
JWT_ACCESS_TOKEN_TTL=15        # in minutes
JWT_REFRESH_TOKEN_TTL=10080    # 7 days in minutes
